@import '~vuetify/src/styles/settings/_variables';

.rounded-left-xs {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  @media #{map-get($display-breakpoints, 'xs-only')} {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
  }
}
.hv-sm-100{
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
      height: 100vh;
  }
}